In [1]:
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Visualizing
import matplotlib.pyplot as plt
import seaborn as sns


import acquire_zillow

In [2]:
df = acquire_zillow.get_zillow_data()
df.head()

,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,parcelid,id,basementsqft,bathroomcnt,...,taxdelinquencyyear,censustractandblock,max_date,logerror,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc
0,NaN,NaN,NaN,NaN,NaN,261.0,14297519,1727539,NaN,3.5,...,NaN,6.059063e+13,2017-01-01,0.025595,Single Family Residential,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,261.0,17052889,1387261,NaN,1.0,...,NaN,6.111001e+13,2017-01-01,0.055619,Single Family Residential,None,None,None,None,None
2,NaN,NaN,NaN,NaN,NaN,261.0,14186244,11677,NaN,2.0,...,NaN,6.059022e+13,2017-01-01,0.005383,Single Family Residential,None,None,None,None,None
3,NaN,2.0,NaN,NaN,NaN,261.0,12177905,2288172,NaN,3.0,...,NaN,6.037300e+13,2017-01-01,-0.103410,Single Family Residential,None,None,None,Central,None
4,NaN,2.0,NaN,NaN,1.0,266.0,10887214,1970746,NaN,3.0,...,NaN,6.037124e+13,2017-01-01,0.006940,Condominium,Central,None,None,Central,None

Only include properties with a transaction in 2017, 

and include only the last transaction for each property (so no duplicate property ID's), 

along with zestimate error and date of transaction.

In [3]:
df.shape

(77609, 67)

In [4]:
df = df.drop_duplicates()

In [5]:
df.shape

(77609, 67)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77574 entries, 0 to 77573
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   storytypeid                   50 non-null     float64
 1   heatingorsystemtypeid         49569 non-null  float64
 2   buildingclasstypeid           15 non-null     float64
 3   architecturalstyletypeid      206 non-null    float64
 4   airconditioningtypeid         25006 non-null  float64
 5   propertylandusetypeid         77574 non-null  float64
 6   parcelid                      77574 non-null  int64
 7   id                            77574 non-null  int64
 8   basementsqft                  50 non-null     float64
 9   bathroomcnt                   77574 non-null  float64
 10  bedroomcnt                    77574 non-null  float64
 11  buildingqualitytypeid         49808 non-null  float64
 12  calculatedbathnbr             76959 non-null  float64
 13  decktypeid                    614 non-null    float64
 14  finishedfloor1squarefeet      6035 non-null   float64
 15  calculatedfinishedsquarefeet  77374 non-null  float64
 16  finishedsquarefeet12          73919 non-null  float64
 17  finishedsquarefeet13          42 non-null     float64
 18  finishedsquarefeet15          3027 non-null   float64
 19  finishedsquarefeet50          6035 non-null   float64
 20  finishedsquarefeet6           386 non-null    float64
 21  fips                          77574 non-null  float64
 22  fireplacecnt                  8287 non-null   float64
 23  fullbathcnt                   76959 non-null  float64
 24  garagecarcnt                  25517 non-null  float64
 25  garagetotalsqft               25517 non-null  float64
 26  hashottuborspa                1539 non-null   float64
 27  latitude                      77574 non-null  float64
 28  longitude                     77574 non-null  float64
 29  lotsizesquarefeet             69317 non-null  float64
 30  poolcnt                       16173 non-null  float64
 31  poolsizesum                   869 non-null    float64
 32  pooltypeid10                  465 non-null    float64
 33  pooltypeid2                   1074 non-null   float64
 34  pooltypeid7                   15078 non-null  float64
 35  propertycountylandusecode     77574 non-null  object
 36  propertyzoningdesc            50474 non-null  object
 37  rawcensustractandblock        77574 non-null  float64
 38  regionidcity                  76102 non-null  float64
 39  regionidcounty                77574 non-null  float64
 40  regionidneighborhood          30973 non-null  float64
 41  regionidzip                   77524 non-null  float64
 42  roomcnt                       77574 non-null  float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  max_date                      77574 non-null  object
 60  logerror                      77574 non-null  float64
 61  propertylandusedesc           77574 non-null  object
 62  airconditioningdesc           25006 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49569 non-null  object
 66  storydesc                     50 non-null     object
dtypes: float64(55), int64(2), object(10)
memory usage: 40.2+ MB

In [7]:
df.describe()

,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,parcelid,id,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,50.0,49569.000000,15.000000,206.000000,25006.000000,77574.000000,7.757400e+04,7.757400e+04,50.000000,77574.000000,...,17596.000000,172.0,7.745900e+04,7.757300e+04,77574.0,7.757200e+04,77569.000000,2900.000000,7.732700e+04,77574.000000
mean,7.0,3.921645,3.933333,7.388350,1.812045,261.824477,1.300630e+07,1.495340e+06,679.720000,2.298521,...,1.434246,1.0,1.892829e+05,4.901477e+05,2016.0,3.011468e+05,5995.855691,14.088276,6.049666e+13,0.016805
std,0.0,3.594814,0.258199,2.734542,2.965823,5.141733,3.478043e+06,8.609689e+05,689.703546,0.996706,...,0.544518,0.0,2.304149e+05,6.538059e+05,0.0,4.927317e+05,7628.912331,2.181281,1.533386e+12,0.170742
min,7.0,1.000000,3.000000,2.000000,1.000000,31.000000,1.071186e+07,3.490000e+02,38.000000,0.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,7.0,2.000000,4.000000,7.000000,1.000000,261.000000,1.153819e+07,7.520875e+05,273.000000,2.000000,...,1.000000,1.0,8.418200e+04,2.068980e+05,2016.0,8.529200e+04,2712.610000,14.000000,6.037311e+13,-0.024310
50%,7.0,2.000000,4.000000,7.000000,1.000000,261.000000,1.253050e+07,1.498169e+06,515.000000,2.000000,...,1.000000,1.0,1.364070e+05,3.588790e+05,2016.0,2.031810e+05,4448.300000,15.000000,6.037603e+13,0.006673
75%,7.0,7.000000,4.000000,7.000000,1.000000,266.000000,1.421124e+07,2.240588e+06,796.500000,3.000000,...,2.000000,1.0,2.187340e+05,5.690000e+05,2016.0,3.667610e+05,6926.820000,15.000000,6.059042e+13,0.039292
max,7.0,24.000000,4.000000,21.000000,13.000000,275.000000,1.676893e+08,2.982274e+06,3560.000000,18.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [6]:
df.value_counts()

Series([], dtype: int64)

In [7]:
def columns_null(df, list_columns):
    null_list = []
    
    for i in list_columns:    
        # How many nulls a column has
        column1_nulls = df[i].isnull().sum()
        # prints percentage of missing values
        column1_perc = df[i].isnull().sum()/len(df)*100
        
        null_list.append([column1_nulls, column1_perc/100])
    
    null_df = pd.DataFrame(np.array(null_list), columns = ['num_rows_missing', 'per_num_rows_missing'])
    
    null_df.num_rows_missing = null_df.num_rows_missing.astype(int)
    return null_df

In [8]:
columns_null(df, df[['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid']])

   num_rows_missing  per_num_rows_missing
0                 0              0.000000
1             52603              0.677795
2             77403              0.997346

In [17]:
df.isnull().sum(axis=1).value_counts()

0    43894
5    18481
6     6191
1     3459
3     2495
4     1459
2      993
7      347
8       55
9       45
dtype: int64

In [18]:
df.isnull().sum(axis=1).value_counts().index

Int64Index([0, 5, 6, 1, 3, 4, 2, 7, 8, 9], dtype='int64')

In [9]:
def rows_null(df):
    
    # Creates List of Column index
    empty1 = []
    index_values = df.isnull().sum(axis=1).value_counts().index
    for i in index_values:
        empty1.append(i) 
    
    # Creates List Of columns index divided by the number of columns
    empty2 = []
    index_percentages = df.isnull().sum(axis=1).value_counts().index / len(df.columns) *100
    for i in index_percentages:
        empty2.append(i)
    
    # Creates a list of all the values of missing items per column
    empty3 = []
    empty3 = df.isnull().sum(axis=1).value_counts().values
    
    
    rows_of_nulls = [(int(empty1[i]),empty2[i],int(empty3[i])) for i in range(0, len(empty1))]
    rows_of_nulls.sort()
    
    rows_null_df = pd.DataFrame(np.array(rows_of_nulls), columns = ['num_cols_missing','pct_cols_missing',
                                                                'num_rows'])
    
    rows_null_df.num_cols_missing = rows_null_df.num_cols_missing.astype(int)
    rows_null_df.num_rows = rows_null_df.num_rows.astype(int)
    
    return rows_null_df

In [10]:
rows_df = rows_null(df)

In [11]:
rows_df

    num_cols_missing  pct_cols_missing  num_rows
0                 23         34.328358         4
1                 24         35.820896        14
2                 25         37.313433        34
3                 26         38.805970       317
4                 27         40.298507       465
5                 28         41.791045      5309
6                 29         43.283582      3472
7                 30         44.776119      9916
8                 31         46.268657     12610
9                 32         47.761194     14819
10                33         49.253731     13358
11                34         50.746269      5163
12                35         52.238806      5793
13                36         53.731343      3630
14                37         55.223881      1932
15                38         56.716418       285
16                39         58.208955       230
17                40         59.701493        29
18                41         61.194030        26
19                42         62.686567        29
20                43         64.179104        79
21                44         65.671642        50
22                45         67.164179         5
23                46         68.656716         3
24                47         70.149254         3
25                63         94.029851        34

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). 

There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. 

But for this exercise, do not purely filter by unitcnt as we did previously. 

Add some new logic that will reduce the number of properties that are falsely removed. 

You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [111]:
df.isnull().sum()

storytypeid                 77524
heatingorsystemtypeid       28005
buildingclasstypeid         77559
architecturalstyletypeid    77368
airconditioningtypeid       52568
                            ...
airconditioningdesc         52568
architecturalstyledesc      77368
buildingclassdesc           77559
heatingorsystemdesc         28005
storydesc                   77524
Length: 67, dtype: int64

In [110]:
df.unitcnt.value_counts()

1.0      47412
2.0       2031
4.0        726
3.0        529
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64

In [108]:
df.bedroomcnt.value_counts()

3.0     30435
2.0     19222
4.0     17549
5.0      4550
1.0      3391
6.0      1000
0.0       836
8.0       253
7.0       208
9.0        70
10.0       31
12.0       16
11.0        9
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

In [109]:
df.calculatedfinishedsquarefeet.value_counts()

1200.0    182
1120.0    169
1440.0    148
1080.0    133
1260.0    121
         ...
455.0       1
7539.0      1
3651.0      1
4585.0      1
4591.0      1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64

In [12]:
def handle_missing_values(df, prop_required_row, prop_required_col):
    ''' function which takes in a dataframe, required notnull proportions of non-null rows and columns.
    drop the columns and rows columns based on theshold:'''
    
    #drop columns with nulls
    threshold = int(prop_required_col * len(df.index)) # Require that many non-NA values.
    df.dropna(axis = 1, thresh = threshold, inplace = True)
    
    #drop rows with nulls
    threshold = int(prop_required_row * len(df.columns)) # Require that many non-NA values.
    df.dropna(axis = 0, thresh = threshold, inplace = True)
    
    
    return df

In [13]:
handle_missing_values(df, .75, .6)

,heatingorsystemtypeid,propertylandusetypeid,parcelid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,max_date,logerror,propertylandusedesc,heatingorsystemdesc
0,NaN,261.0,14297519,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,2017-01-01,0.025595,Single Family Residential,None
1,NaN,261.0,17052889,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,2017-01-01,0.055619,Single Family Residential,None
2,NaN,261.0,14186244,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2017-01-01,0.005383,Single Family Residential,None
3,2.0,261.0,12177905,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,2017-01-01,-0.103410,Single Family Residential,Central
4,2.0,266.0,10887214,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,2017-01-01,0.006940,Condominium,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77604,2.0,266.0,10833991,2864704,3.0,3.0,8.0,3.0,1741.0,1741.0,...,265000.0,379000.0,2016.0,114000.0,4685.34,6.037132e+13,2017-09-20,-0.002245,Condominium,Central
77605,2.0,261.0,11000655,673515,2.0,2.0,6.0,2.0,1286.0,1286.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,2017-09-20,0.020615,Single Family Residential,Central
77606,NaN,261.0,17239384,2968375,2.0,4.0,NaN,2.0,1612.0,1612.0,...,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,2017-09-21,0.013209,Single Family Residential,None
77607,2.0,261.0,12773139,1843709,1.0,3.0,4.0,1.0,1032.0,1032.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,2017-09-21,0.037129,Single Family Residential,Central
77608,2.0,261.0,12826780,1187175,2.0,3.0,6.0,2.0,1762.0,1762.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,2017-09-25,0.007204,Single Family Residential,Central

In [14]:
df.shape

(77419, 34)

In [15]:
df.heatingorsystemtypeid.value_counts()

2.0     33633
7.0     14107
24.0      850
6.0       776
20.0      104
13.0       60
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64

In [16]:
df.heatingorsystemtypeid.isnull().sum()

27849