In [1]:
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Visualizing
import matplotlib.pyplot as plt
import seaborn as sns


import acquire_zillow

In [2]:
df = acquire_zillow.get_zillow_data()
df.head()

,storytypeid,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,parcelid,id,basementsqft,...,censustractandblock,max_date,logerror,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,typeconstructiondesc,storydesc
0,NaN,NaN,NaN,NaN,NaN,NaN,261.0,14297519,1727539,NaN,...,6.059063e+13,2017-01-01,0.025595,Single Family Residential,None,None,None,None,None,None
1,NaN,NaN,NaN,NaN,NaN,NaN,261.0,17052889,1387261,NaN,...,6.111001e+13,2017-01-01,0.055619,Single Family Residential,None,None,None,None,None,None
2,NaN,NaN,NaN,NaN,NaN,NaN,261.0,14186244,11677,NaN,...,6.059022e+13,2017-01-01,0.005383,Single Family Residential,None,None,None,None,None,None
3,NaN,NaN,2.0,NaN,NaN,NaN,261.0,12177905,2288172,NaN,...,6.037300e+13,2017-01-01,-0.103410,Single Family Residential,None,None,None,Central,None,None
4,NaN,NaN,2.0,NaN,NaN,1.0,266.0,10887214,1970746,NaN,...,6.037124e+13,2017-01-01,0.006940,Condominium,Central,None,None,Central,None,None

Only include properties with a transaction in 2017, 

and include only the last transaction for each property (so no duplicate property ID's), 

along with zestimate error and date of transaction.

In [3]:
df.shape

(77609, 68)

In [4]:
df = df.drop_duplicates()

In [5]:
df.shape

(77609, 68)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77609 entries, 0 to 77608
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   storytypeid                   50 non-null     float64
 1   typeconstructiontypeid        222 non-null    float64
 2   heatingorsystemtypeid         49570 non-null  float64
 3   buildingclasstypeid           15 non-null     float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         25006 non-null  float64
 6   propertylandusetypeid         77575 non-null  float64
 7   parcelid                      77609 non-null  int64
 8   id                            77609 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  max_date                      77609 non-null  object
 60  logerror                      77609 non-null  float64
 61  propertylandusedesc           77575 non-null  object
 62  airconditioningdesc           25006 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49570 non-null  object
 66  typeconstructiondesc          222 non-null    object
 67  storydesc                     50 non-null     object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.9+ MB

In [7]:
df.describe()

,storytypeid,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,parcelid,id,basementsqft,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,50.0,222.000000,49570.000000,15.000000,206.000000,25006.000000,77575.000000,7.760900e+04,7.760900e+04,50.000000,...,17596.000000,172.0,7.746000e+04,7.757400e+04,77575.0,7.757300e+04,77570.000000,2900.000000,7.732800e+04,77609.000000
mean,7.0,6.040541,3.921707,3.933333,7.388350,1.812045,261.824467,1.300583e+07,1.496004e+06,679.720000,...,1.434246,1.0,1.892815e+05,4.901447e+05,2016.0,3.011453e+05,5995.821528,14.088276,6.049666e+13,0.016754
std,0.0,0.557285,3.594804,0.258199,2.734542,2.965823,5.141701,3.477349e+06,8.613451e+05,689.703546,...,0.544518,0.0,2.304137e+05,6.538022e+05,0.0,4.927287e+05,7628.869090,2.181281,1.533376e+12,0.170892
min,7.0,4.000000,1.000000,3.000000,2.000000,1.000000,31.000000,1.071186e+07,3.490000e+02,38.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,7.0,6.000000,2.000000,4.000000,7.000000,1.000000,261.000000,1.153821e+07,7.525200e+05,273.000000,...,1.000000,1.0,8.418200e+04,2.068985e+05,2016.0,8.529300e+04,2712.630000,14.000000,6.037311e+13,-0.024330
50%,7.0,6.000000,2.000000,4.000000,7.000000,1.000000,261.000000,1.253000e+07,1.499111e+06,515.000000,...,1.000000,1.0,1.364045e+05,3.588785e+05,2016.0,2.031740e+05,4448.265000,15.000000,6.037603e+13,0.006667
75%,7.0,6.000000,7.000000,4.000000,7.000000,1.000000,266.000000,1.421097e+07,2.242061e+06,796.500000,...,2.000000,1.0,2.187340e+05,5.690000e+05,2016.0,3.667530e+05,6926.785000,15.000000,6.059042e+13,0.039295
max,7.0,13.000000,24.000000,4.000000,21.000000,13.000000,275.000000,1.676893e+08,2.985182e+06,3560.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [8]:
def columns_null(df, list_columns):
    null_list = []
    
    for i in list_columns:    
        # How many nulls a column has
        column1_nulls = df[i].isnull().sum()
        # prints percentage of missing values
        column1_perc = df[i].isnull().sum()/len(df)*100
        
        null_list.append([column1_nulls, column1_perc/100])
    
    null_df = pd.DataFrame(np.array(null_list), columns = ['num_rows_missing', 'per_num_rows_missing'])
    
    null_df.num_rows_missing = null_df.num_rows_missing.astype(int)
    return null_df

In [9]:
columns_null(df, df[['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid']])

   num_rows_missing  per_num_rows_missing
0                 0              0.000000
1             52603              0.677795
2             77403              0.997346

In [17]:
df.isnull().sum(axis=1).value_counts()

0    43894
5    18481
6     6191
1     3459
3     2495
4     1459
2      993
7      347
8       55
9       45
dtype: int64

In [18]:
df.isnull().sum(axis=1).value_counts().index

Int64Index([0, 5, 6, 1, 3, 4, 2, 7, 8, 9], dtype='int64')

In [10]:
def rows_null(df):
    
    # Creates List of Column index
    empty1 = []
    index_values = df.isnull().sum(axis=1).value_counts().index
    for i in index_values:
        empty1.append(i) 
    
    # Creates List Of columns index divided by the number of columns
    empty2 = []
    index_percentages = df.isnull().sum(axis=1).value_counts().index / len(df.columns) *100
    for i in index_percentages:
        empty2.append(i)
    
    # Creates a list of all the values of missing items per column
    empty3 = []
    empty3 = df.isnull().sum(axis=1).value_counts().values
    
    
    rows_of_nulls = [(int(empty1[i]),empty2[i],int(empty3[i])) for i in range(0, len(empty1))]
    rows_of_nulls.sort()
    
    rows_null_df = pd.DataFrame(np.array(rows_of_nulls), columns = ['num_cols_missing','pct_cols_missing',
                                                                'num_rows'])
    
    rows_null_df.num_cols_missing = rows_null_df.num_cols_missing.astype(int)
    rows_null_df.num_rows = rows_null_df.num_rows.astype(int)
    
    return rows_null_df

In [11]:
rows_df = rows_null(df)

In [12]:
rows_df

    num_cols_missing  pct_cols_missing  num_rows
0                 23         33.823529         2
1                 24         35.294118        13
2                 25         36.764706        24
3                 26         38.235294        65
4                 27         39.705882       316
5                 28         41.176471       457
6                 29         42.647059      5285
7                 30         44.117647      3465
8                 31         45.588235      9911
9                 32         47.058824     12606
10                33         48.529412     14817
11                34         50.000000     13357
12                35         51.470588      5163
13                36         52.941176      5793
14                37         54.411765      3630
15                38         55.882353      1932
16                39         57.352941       285
17                40         58.823529       230
18                41         60.294118        29
19                42         61.764706        26
20                43         63.235294        29
21                44         64.705882        79
22                45         66.176471        50
23                46         67.647059         5
24                47         69.117647         3
25                48         70.588235         3
26                64         94.117647        34

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). 

There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. 

But for this exercise, do not purely filter by unitcnt as we did previously. 

Add some new logic that will reduce the number of properties that are falsely removed. 

You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [111]:
df.isnull().sum()

storytypeid                 77524
heatingorsystemtypeid       28005
buildingclasstypeid         77559
architecturalstyletypeid    77368
airconditioningtypeid       52568
                            ...
airconditioningdesc         52568
architecturalstyledesc      77368
buildingclassdesc           77559
heatingorsystemdesc         28005
storydesc                   77524
Length: 67, dtype: int64

In [110]:
df.unitcnt.value_counts()

1.0      47412
2.0       2031
4.0        726
3.0        529
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64

In [108]:
df.bedroomcnt.value_counts()

3.0     30435
2.0     19222
4.0     17549
5.0      4550
1.0      3391
6.0      1000
0.0       836
8.0       253
7.0       208
9.0        70
10.0       31
12.0       16
11.0        9
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

In [109]:
df.calculatedfinishedsquarefeet.value_counts()

1200.0    182
1120.0    169
1440.0    148
1080.0    133
1260.0    121
         ...
455.0       1
7539.0      1
3651.0      1
4585.0      1
4591.0      1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64

In [13]:
def handle_missing_values(df, prop_required_row, prop_required_col):
    ''' function which takes in a dataframe, required notnull proportions of non-null rows and columns.
    drop the columns and rows columns based on theshold:'''
    
    #drop columns with nulls
    threshold = int(prop_required_col * len(df.index)) # Require that many non-NA values.
    df.dropna(axis = 1, thresh = threshold, inplace = True)
    
    #drop rows with nulls
    threshold = int(prop_required_row * len(df.columns)) # Require that many non-NA values.
    df.dropna(axis = 0, thresh = threshold, inplace = True)
    
    
    return df

In [14]:
handle_missing_values(df, .75, .6)

,heatingorsystemtypeid,propertylandusetypeid,parcelid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,max_date,logerror,propertylandusedesc,heatingorsystemdesc
0,NaN,261.0,14297519,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,2017-01-01,0.025595,Single Family Residential,None
1,NaN,261.0,17052889,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,2017-01-01,0.055619,Single Family Residential,None
2,NaN,261.0,14186244,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2017-01-01,0.005383,Single Family Residential,None
3,2.0,261.0,12177905,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,2017-01-01,-0.103410,Single Family Residential,Central
4,2.0,266.0,10887214,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,2017-01-01,0.006940,Condominium,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77604,2.0,266.0,10833991,2864704,3.0,3.0,8.0,3.0,1741.0,1741.0,...,265000.0,379000.0,2016.0,114000.0,4685.34,6.037132e+13,2017-09-20,-0.002245,Condominium,Central
77605,2.0,261.0,11000655,673515,2.0,2.0,6.0,2.0,1286.0,1286.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,2017-09-20,0.020615,Single Family Residential,Central
77606,NaN,261.0,17239384,2968375,2.0,4.0,NaN,2.0,1612.0,1612.0,...,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,2017-09-21,0.013209,Single Family Residential,None
77607,2.0,261.0,12773139,1843709,1.0,3.0,4.0,1.0,1032.0,1032.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,2017-09-21,0.037129,Single Family Residential,Central
77608,2.0,261.0,12826780,1187175,2.0,3.0,6.0,2.0,1762.0,1762.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,2017-09-25,0.007204,Single Family Residential,Central

In [15]:
df.shape

(77419, 34)

In [16]:
df.heatingorsystemtypeid.value_counts()

2.0     33633
7.0     14107
24.0      850
6.0       776
20.0      104
13.0       60
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64

In [17]:
df.heatingorsystemtypeid.isnull().sum()

27849

In [20]:
df.isnull().sum()

heatingorsystemtypeid           27849
propertylandusetypeid               0
parcelid                            0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           27610
calculatedbathnbr                 459
calculatedfinishedsquarefeet       44
finishedsquarefeet12             3499
fips                                0
fullbathcnt                       459
latitude                            0
longitude                           0
lotsizesquarefeet                8175
propertycountylandusecode           0
propertyzoningdesc              26979
rawcensustractandblock              0
regionidcity                     1460
regionidcounty                      0
regionidzip                        45
roomcnt                             0
unitcnt                         26716
yearbuilt                         114
structuretaxvaluedollarcnt         99
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               227
max_date                            0
logerror                            0
propertylandusedesc                 0
heatingorsystemdesc             27849
dtype: int64

In [19]:
# check nulls again
df.isnull().mean()

heatingorsystemtypeid           0.359718
propertylandusetypeid           0.000000
parcelid                        0.000000
id                              0.000000
bathroomcnt                     0.000000
bedroomcnt                      0.000000
buildingqualitytypeid           0.356631
calculatedbathnbr               0.005929
calculatedfinishedsquarefeet    0.000568
finishedsquarefeet12            0.045196
fips                            0.000000
fullbathcnt                     0.005929
latitude                        0.000000
longitude                       0.000000
lotsizesquarefeet               0.105594
propertycountylandusecode       0.000000
propertyzoningdesc              0.348480
rawcensustractandblock          0.000000
regionidcity                    0.018858
regionidcounty                  0.000000
regionidzip                     0.000581
roomcnt                         0.000000
unitcnt                         0.345083
yearbuilt                       0.001473
structuretaxvaluedollarcnt      0.001279
taxvaluedollarcnt               0.000013
assessmentyear                  0.000000
landtaxvaluedollarcnt           0.000013
taxamount                       0.000065
censustractandblock             0.002932
max_date                        0.000000
logerror                        0.000000
propertylandusedesc             0.000000
heatingorsystemdesc             0.359718
dtype: float64

In [21]:
df = df.drop(columns = ['heatingorsystemtypeid', 'buildingqualitytypeid', 'propertylandusetypeid'])

In [22]:
df.isnull().sum()

parcelid                            0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
calculatedbathnbr                 459
calculatedfinishedsquarefeet       44
finishedsquarefeet12             3499
fips                                0
fullbathcnt                       459
latitude                            0
longitude                           0
lotsizesquarefeet                8175
propertycountylandusecode           0
propertyzoningdesc              26979
rawcensustractandblock              0
regionidcity                     1460
regionidcounty                      0
regionidzip                        45
roomcnt                             0
unitcnt                         26716
yearbuilt                         114
structuretaxvaluedollarcnt         99
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               227
max_date                            0
logerror                            0
propertylandusedesc                 0
heatingorsystemdesc             27849
dtype: int64

In [23]:
df.unitcnt.value_counts()

1.0      47413
2.0       2031
4.0        726
3.0        529
42.0         1
237.0        1
45.0         1
6.0          1
Name: unitcnt, dtype: int64

In [24]:
df.unitcnt.isna().sum()

26716

In [25]:
df['unitcnt'] = df.unitcnt.fillna(0)

In [30]:
df.heatingorsystemdesc.value_counts()

Central       33633
None          27909
Floor/Wall    14107
Yes             850
Forced air      776
Solar           104
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

In [28]:
df['heatingorsystemdesc'] = df.heatingorsystemdesc.fillna('None')

In [29]:
df.heatingorsystemdesc.isna().sum()

0

In [31]:
df.isnull().sum()

parcelid                            0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
calculatedbathnbr                 459
calculatedfinishedsquarefeet       44
finishedsquarefeet12             3499
fips                                0
fullbathcnt                       459
latitude                            0
longitude                           0
lotsizesquarefeet                8175
propertycountylandusecode           0
propertyzoningdesc              26979
rawcensustractandblock              0
regionidcity                     1460
regionidcounty                      0
regionidzip                        45
roomcnt                             0
unitcnt                             0
yearbuilt                         114
structuretaxvaluedollarcnt         99
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               227
max_date                            0
logerror                            0
propertylandusedesc                 0
heatingorsystemdesc                 0
dtype: int64

In [35]:
df.propertyzoningdesc.value_counts()

LAR1          6762
LAR3          2446
LARS          1394
LBR1N         1225
LARD1.5       1131
              ...
HB M*            1
AHRA10000*       1
WCRA20000*       1
COCM*            1
LRR1-10000       1
Name: propertyzoningdesc, Length: 1906, dtype: int64

In [38]:
df.propertyzoningdesc.isna().sum()

26979

In [1]:
# Ravindeers Code

In [2]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = num_missing / rows
    cols_missing = pd.DataFrame({'number_missing_rows': num_missing, 'percent_rows_missing': pct_missing})
    return cols_missing

In [3]:
def cols_missing(df):
    df2 = pd.DataFrame(df.isnull().sum(axis =1), columns = ['num_cols_missing']).reset_index()\
    .groupby('num_cols_missing').count().reset_index().\
    rename(columns = {'index': 'num_rows' })
    df2['pct_cols_missing'] = df2.num_cols_missing/df.shape[1]
    return df2

In [5]:
# use your judgement to remove certain columns which you don't need

cols_to_remove = ['id',
       'calculatedbathnbr', 'finishedsquarefeet12', 'fullbathcnt', 'heatingorsystemtypeid'
       ,'propertycountylandusecode', 'propertylandusetypeid','propertyzoningdesc', 
        'censustractandblock', 'propertylandusedesc', 'unitcnt']

def remove_columns(df, cols_to_remove):  
    df = df.drop(columns=cols_to_remove)
    return df

# use the function defined above to remove the columns not needed:

#df = remove_columns(df, cols_to_remove)

In [7]:
# Function to read and wrangle data:

def wrangle_zillow(df):
    #df = pd.read_csv('zillow.csv')
    
    # Already Specificy These two lines with setting typeid to 271 in SQL statement
    # Restrict df to only properties that meet single unit use criteria
    #single_use = [261, 262, 263, 264, 266, 268, 273, 276, 279]
    #df = df[df.propertylandusetypeid.isin(single_use)]
    
    # Restrict df to only those properties with at least 1 bath & bed and 350 sqft area
    df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0) & ((df.unitcnt<=1)|df.unitcnt.isnull())\
            & (df.calculatedfinishedsquarefeet>350)]

    # Handle missing values i.e. drop columns and rows based on a threshold
    df = handle_missing_values(df)
    
    # Add column for counties
    df['county'] = np.where(df.fips == 6037, 'Los_Angeles',
                           np.where(df.fips == 6059, 'Orange', 
                                   'Ventura'))    
    # drop columns not needed
    df = remove_columns(df, ['id',
       'calculatedbathnbr', 'finishedsquarefeet12', 'fullbathcnt', 'heatingorsystemtypeid'
       ,'propertycountylandusecode', 'propertylandusetypeid','propertyzoningdesc', 
        'censustractandblock', 'propertylandusedesc','heatingorsystemdesc','unitcnt'
                            ,'buildingqualitytypeid'])


    # replace nulls in unitcnt with 1
    # df.unitcnt.fillna(1, inplace = True)
    
    # assume that since this is Southern CA, null means 'None' for heating system
    # df.heatingorsystemdesc.fillna('None', inplace = True)
    
    # replace nulls with median values for select columns
    df.lotsizesquarefeet.fillna(7313, inplace = True)
    # df.buildingqualitytypeid.fillna(6.0, inplace = True)

    # Columns to look for outliers
    df = df[df.taxvaluedollarcnt < 5_000_000]
    df[df.calculatedfinishedsquarefeet < 8000]
    
    # Just to be sure we caught all nulls, drop them here
    df = df.dropna()
    
    return df

In [8]:
def min_max_scaler(train, valid, test):
    '''
    Uses the train & test datasets created by the split_my_data function
    Returns 3 items: mm_scaler, train_scaled_mm, test_scaled_mm
    This is a linear transformation. Values will lie between 0 and 1
    '''
    num_vars = list(train.select_dtypes('number').columns)
    scaler = MinMaxScaler(copy=True, feature_range=(0,1))
    train[num_vars] = scaler.fit_transform(train[num_vars])
    valid[num_vars] = scaler.transform(valid[num_vars])
    test[num_vars] = scaler.transform(test[num_vars])
    return scaler, train, valid, test